.contents-right-form__box
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'contents-right-form__box__input-box', placeholder: 'type a message'
    .formbox-image
      = f.label :image, class: 'formbox-image--icon' do
        = fa_icon 'picture-o'
        = f.file_field :image, class: 'image'
    = f.submit 'Send', class: 'contents-right-form__box__submit'