.contents
  .contents-left
    = render 'shared/side_bar'

  .contents-right
    .contents-right-header
      .contents-right-header__btn
        %div{"data-turbolinks": "false"}
          = link_to 'Edit' ,edit_group_path(@group.id),class: "edit-link"
      .box
        .group
          = @group.name

        .member
          %label Member:
          - @group.users.each do |user|
            = user.name

    .contents-right-body
      = render @messages

    .contents-right-form
      = render partial: 'messages/right-form', locals: { right_form: @right_form }